<div class="contenedor row animated fadeIn d-flex justify-content-center" *ngIf="cargando">
    <div class="col-sm-3 ">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="container-fluid mt-3 animated fadeIn fast" *ngIf="!cargando">
    <div class="row">
        <div class="col">
            <a target="_blank" [href]="proyecto.imagen | imagen:'portada'">
                <img class="img-fluid" [src]="proyecto.imagen | imagen:'portada'" alt="">
            </a>
        </div>
    </div>
</div>

<div class="container mb-5 animated fadeIn fast" *ngIf="!cargando">

    <div class="row mt-4">
        <div class="col text-center">
            <h2 class="title"><u>{{ proyecto.nombre }}</u></h2>
        </div>
    </div>

    <div class="row mt-3 mb-4">
        <div class="col text-center">
            <small class="text-muted" *ngFor="let tecnologia of proyecto.tecnologias">
                <i class="{{tecnologia.codigo}}"></i>
            </small>
        </div>
    </div>

    <div class="row mb-5 text-center">
        <div class="col">
            <p>
                {{ proyecto.descripcion }}
            </p>
        </div>
    </div>


    <div *ngFor="let ventana of proyecto.ventanas; let i = index">
        <div *ngIf="(i+1)%2==0">
            <h2 class="title">{{ventana.titulo}}</h2>
            <div class="row mb-5">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <a target="_blank" [href]="ventana.imagen | imagen:'captura'">
                        <img class="img-fluid img-thumbnail" [src]="ventana.imagen | imagen:'captura'" alt="">
                    </a>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <p>
                        {{ventana.descripcion}}
                    </p>
                </div>


            </div>
            <hr>
        </div>
        <div *ngIf="(i+1)%2!=0">
            <h2 class="title">{{ventana.titulo}}</h2>
            <div class="row">
                <!-- Desaparece cuando es mas pequeño que sm -->
                <div class="col-lg-8 col-md-8 col-sm-6 d-none d-sm-block">
                    <p>
                        {{ventana.descripcion}}
                    </p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <a target="_blank" [href]="ventana.imagen | imagen:'captura'">
                        <img class="img-fluid img-thumbnail" [src]="ventana.imagen | imagen:'captura'" alt="">
                    </a>
                </div>

                <!-- Aparece cuando es mas pequeño que sm -->
                <div class="col-sm-6 col-xs-12 d-sm-none">
                    <p>
                        {{ventana.descripcion}}
                    </p>
                </div>

            </div>
            <hr>
        </div>

    </div>








    <div class="row mt-5">
        <!-- Desaparece cuando es mas pequeño que sm -->
        <div class="col text-center d-none d-sm-block">
            <a class="btn btn-dark btn-lg" target="_blank" href="{{proyecto.link}}">
                <i class="fab fa-github fa-1x"></i> Ver proyecto
            </a>
        </div>

        <!-- Aparece cuando es mas pequeño que sm -->
        <div class="col text-center d-sm-none">
            <a class="btn btn-dark btn-lg btn-block " target="_blank" href="{{proyecto.link}}">
                <i class="fab fa-github fa-1x"></i> Ver proyecto
            </a>
        </div>
    </div>



</div>