<div class="container-fluid base animated fadeIn fast" id="accordion">


    <div class="contenedor pb-4">
        <div class="row pt-4 pl-4 pr-4">
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-xs-12">
                <img class="img-fluid img-thumbnail" src="../../../assets/img/perfil.jpg" alt="foto-perfil" />
            </div>

            <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12 col-xs-12">

                <h3><strong>Samuel Alcaraz Guzman</strong></h3>

                <h5 class="text-primary">Ing. Administrador de Sistemas</h5>

                <div class="d-none d-md-block">
                    <a class="btn btn-primary btn-sm" href="">
                        <i class="far fa-file-word"></i> Curriculum
                    </a>
                    <a class="btn btn-primary btn-sm" href="">
                        <i class="far fa-file-pdf"></i> Curriculum
                    </a>
                </div>
            </div>

            <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12 col-xs-12">
                <ul class="" type="none">
                    <li> <span>Correo:</span> <a href="#">sam.zerox88@gmail.com</a> </li>

                    <li><span>Web:</span> <a href="#">samzerox.com</a> </li>

                    <li><span>Tel:</span> (044) 811-062-90-70 </li>

                </ul>
                <div class="col-sm-6 col-xs-12 d-md-none text-center">
                    <a class="btn btn-primary" href="">
                        <i class="far fa-file-word"></i> Curriculum
                    </a>
                    <a class="btn btn-primary" href="">
                        <i class="far fa-file-pdf"></i> Curriculum
                    </a>
                </div>
            </div>



        </div>

        <hr>

        <div class="d-none d-sm-block">

            <div class="row pl-4 pr-4 ">
                <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-xs-12">
                    <h4 class="title">Perfil Profesional</h4>
                </div>

                <div class="col-xl-8 col-lg-8 col-md-9 col-sm-12 col-xs-12">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab saepe culpa nihil qui repudiandae doloribus beatae delectus accusamus cum voluptate officiis, magni, quis ad suscipit, temporibus corrupti assumenda natus!</p>
                </div>
            </div>

            <hr>

            <div class="row pl-4 pr-4">
                <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-xs-12">
                    <h4 class="title">Habilidades Tecnicas</h4>
                </div>

                <div class="col-xl-8 col-lg-8 col-md-9 col-sm-12 col-xs-12">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam illo cupiditate optio adipisci necessitatibus quasi voluptates expedita commodi sit reiciendis natus, labore ducimus quis inventore laboriosam vitae alias quos laudantium!
                    </p>
                    <div class="col-12 listas">
                        <ul class="">
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>Java</li>
                            <li>Nodel</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>Java</li>
                            <li>Nodel</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>Java</li>
                            <li>Nodel</li>


                        </ul>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row pl-4 pr-4">
                <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-xs-12">
                    <h4 class="title">Educacion</h4>
                </div>

                <div class="col-xl-8 col-lg-8 col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <h5 class="text-primary">Uiversidad Metropolitana</h5>
                            <p class="text-secondary">Ing. Administrador de Sistemas</p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <h5><span class="badge badge-primary">
                                2009-2012
                            </span>
                            </h5>
                        </div>
                    </div>
                    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod voluptatem doloribus iusto laboriosam nam, dolores voluptates aperiam, eveniet illum voluptatum tempore nemo. Praesentium, molestias similique exercitationem delectus ipsum
                        recusandae porro?
                    </p>

                    <hr>

                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <h5 class="text-primary">Uiversidad Metropolitana</h5>
                            <p class="text-secondary">Ing. Administrador de Sistemas</p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <h5><span class="badge badge-primary">
                                    2009-2012
                                </span>
                            </h5>
                        </div>
                    </div>
                    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod voluptatem doloribus iusto laboriosam nam, dolores voluptates aperiam, eveniet illum voluptatum tempore nemo. Praesentium, molestias similique exercitationem delectus ipsum
                        recusandae porro?
                    </p>
                </div>
            </div>

            <hr>

            <div class="row pl-4 pr-4">
                <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-xs-12">
                    <h4 class="title">Experiencia Laboral</h4>
                </div>

                <div class="col-xl-8 col-lg-8 col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <h5 class="text-primary">Tecnologia DG S.A. de C.V.</h5>
                            <p class="text-secondary">Ing. Administrador de Sistemas</p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <h5><span class="badge badge-primary">
                                2009-2012
                            </span>
                            </h5>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod voluptatem doloribus iusto laboriosam nam, dolores voluptates aperiam, eveniet illum voluptatum tempore nemo. Praesentium, molestias similique exercitationem delectus ipsum recusandae porro?
                    </p>

                    <div class="col-12 listas">
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>Java</li>
                            <li>Nodel</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>Java</li>
                            <li>Nodel</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>Java</li>
                            <li>Nodel</li>


                        </ul>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <h5 class="text-primary">Uiversidad Metropolitana</h5>
                            <p class="text-secondary">Ing. Administrador de Sistemas</p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <h5><span class="badge badge-primary">
                                    2009-2012
                                </span>
                            </h5>
                        </div>
                    </div>
                    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod voluptatem doloribus iusto laboriosam nam, dolores voluptates aperiam, eveniet illum voluptatum tempore nemo. Praesentium, molestias similique exercitationem delectus ipsum
                        recusandae porro?
                    </p>
                    <div class="col-12 listas">
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>Java</li>
                            <li>Nodel</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>Java</li>
                            <li>Nodel</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>Java</li>
                            <li>Nodel</li>


                        </ul>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row pl-4 pr-4">
                <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-xs-12">
                    <h4 class="title">Formaciones Adicionales</h4>
                </div>

                <div class="col-xl-8 col-lg-8 col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-12">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam illo cupiditate optio adipisci necessitatibus quasi voluptates expedita commodi sit reiciendis natus, labore ducimus quis inventore laboriosam vitae alias quos laudantium!
                            </p>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-12 listas">
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Javascript</li>
                                <li>Angular</li>
                                <li>Java</li>
                                <li>Nodel</li>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Javascript</li>
                                <li>Angular</li>
                                <li>Java</li>
                                <li>Nodel</li>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Javascript</li>
                                <li>Angular</li>
                                <li>Java</li>
                                <li>Nodel</li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>



        <div id="accordion" class="d-sm-none">
            <div class="card">
                <div class="card-header" id="headingPP">
                    <h5 class="mb-0">
                        <button class="btn btn-primary btn-block" data-toggle="collapse" data-target="#collapsePP" aria-expanded="true" aria-controls="collapsePP">
                            <h5 class="title">Perfil Profesional</h5>
                        </button>
                    </h5>
                </div>

                <div id="collapsePP" class="collapse show" aria-labelledby="headingPP" data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-sm-12 col-xs-12">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab saepe culpa nihil qui repudiandae doloribus beatae delectus accusamus cum voluptate officiis, magni, quis ad suscipit, temporibus corrupti assumenda natus!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingHT">
                    <h5 class="mb-0">
                        <button class="btn btn-primary btn-block collapsed" data-toggle="collapse" data-target="#collapseHT" aria-expanded="false" aria-controls="collapseHT">
                            <h5 class="title">Habilidades Tecnicas</h5>
                        </button>
                    </h5>
                </div>
                <div id="collapseHT" class="collapse" aria-labelledby="headingHT" data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-sm-12 col-xs-12">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam illo cupiditate optio adipisci necessitatibus quasi voluptates expedita commodi sit reiciendis natus, labore ducimus quis inventore laboriosam vitae alias quos laudantium!
                            </p>
                            <div class="col-12 listas">
                                <ul class="">
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>Angular</li>
                                    <li>Java</li>
                                    <li>Nodel</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>Angular</li>
                                    <li>Java</li>
                                    <li>Nodel</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>Angular</li>
                                    <li>Java</li>
                                    <li>Nodel</li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingE">
                    <h5 class="mb-0">
                        <button class="btn btn-primary btn-block collapsed" data-toggle="collapse" data-target="#collapseE" aria-expanded="false" aria-controls="collapseE">
                            <h5 class="title">Educacion</h5>
                        </button>
                    </h5>
                </div>
                <div id="collapseE" class="collapse" aria-labelledby="headingE" data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <h5 class="text-primary">Uiversidad Metropolitana</h5>
                                    <p class="text-secondary">Ing. Administrador de Sistemas</p>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <h5><span class="badge badge-primary">
                                                2009-2012
                                            </span>
                                    </h5>
                                </div>
                            </div>
                            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod voluptatem doloribus iusto laboriosam nam, dolores voluptates aperiam, eveniet illum voluptatum tempore nemo. Praesentium, molestias similique exercitationem delectus
                                ipsum recusandae porro?
                            </p>

                            <hr>

                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <h5 class="text-primary">Uiversidad Metropolitana</h5>
                                    <p class="text-secondary">Ing. Administrador de Sistemas</p>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <h5><span class="badge badge-primary">
                                                    2009-2012
                                                </span>
                                    </h5>
                                </div>
                            </div>
                            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod voluptatem doloribus iusto laboriosam nam, dolores voluptates aperiam, eveniet illum voluptatum tempore nemo. Praesentium, molestias similique exercitationem delectus
                                ipsum recusandae porro?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingEL">
                    <h5 class="mb-0">
                        <button class="btn btn-primary btn-block collapsed" data-toggle="collapse" data-target="#collapseEL" aria-expanded="false" aria-controls="collapseEL">
                            <h5 class="title">Experiencia Laboral</h5>
                        </button>
                    </h5>
                </div>
                <div id="collapseEL" class="collapse" aria-labelledby="headingEL" data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <h5 class="text-primary">Tecnologia DG S.A. de C.V.</h5>
                                    <p class="text-secondary">Ing. Administrador de Sistemas</p>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <h5><span class="badge badge-primary">
                                                2009-2012
                                            </span>
                                    </h5>
                                </div>
                            </div>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod voluptatem doloribus iusto laboriosam nam, dolores voluptates aperiam, eveniet illum voluptatum tempore nemo. Praesentium, molestias similique exercitationem delectus ipsum recusandae porro?
                            </p>

                            <div class="col-12 listas">
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>Angular</li>
                                    <li>Java</li>
                                    <li>Nodel</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>Angular</li>
                                    <li>Java</li>
                                    <li>Nodel</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>Angular</li>
                                    <li>Java</li>
                                    <li>Nodel</li>


                                </ul>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <h5 class="text-primary">Uiversidad Metropolitana</h5>
                                    <p class="text-secondary">Ing. Administrador de Sistemas</p>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <h5><span class="badge badge-primary">
                                                    2009-2012
                                                </span>
                                    </h5>
                                </div>
                            </div>
                            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod voluptatem doloribus iusto laboriosam nam, dolores voluptates aperiam, eveniet illum voluptatum tempore nemo. Praesentium, molestias similique exercitationem delectus
                                ipsum recusandae porro?
                            </p>
                            <div class="col-12 listas">
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>Angular</li>
                                    <li>Java</li>
                                    <li>Nodel</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>Angular</li>
                                    <li>Java</li>
                                    <li>Nodel</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>Angular</li>
                                    <li>Java</li>
                                    <li>Nodel</li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFA">
                    <h5 class="mb-0">
                        <button class="btn btn-primary btn-block collapsed" data-toggle="collapse" data-target="#collapseFA" aria-expanded="false" aria-controls="collapseFA">
                            <h5 class="title">Formaciones Adicionales</h5>
                        </button>
                    </h5>
                </div>
                <div id="collapseFA" class="collapse" aria-labelledby="headingFA" data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-12">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam illo cupiditate optio adipisci necessitatibus quasi voluptates expedita commodi sit reiciendis natus, labore ducimus quis inventore laboriosam vitae alias quos laudantium!
                                    </p>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-12 listas">
                                    <ul>
                                        <li>HTML</li>
                                        <li>CSS</li>
                                        <li>Javascript</li>
                                        <li>Angular</li>
                                        <li>Java</li>
                                        <li>Nodel</li>
                                        <li>HTML</li>
                                        <li>CSS</li>
                                        <li>Javascript</li>
                                        <li>Angular</li>
                                        <li>Java</li>
                                        <li>Nodel</li>
                                        <li>HTML</li>
                                        <li>CSS</li>
                                        <li>Javascript</li>
                                        <li>Angular</li>
                                        <li>Java</li>
                                        <li>Nodel</li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>







    </div>

</div>