<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex sticky-top">
    <a class="navbar-brand" href="#">samzerox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-auto">
            <li class="nav-item mr-5">
                <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
            </li>
            <li class="nav-item mr-5">
                <a class="nav-link" routerLinkActive="active" routerLink="/proyectos">Proyectos</a>
            </li>
            <li class="nav-item mr-5">
                <a class="nav-link" routerLinkActive="active" routerLink="/about">Sobre mi</a>
            </li>
            <li class="nav-item mr-5" *ngIf="_us.token.length">
                <a (click)="_us.logout()" routerLink="/home" class="nav-link">
                    <i class="fa fa-power-off"></i> Logout
                </a>
            </li>
        </ul>
    </div>
</nav>