<div class="container">
    <div class="card-columns text-center">

        <div class="card border-dark animated fadeIn fast">
            <img class="card-img-top img-fluid text-center" src="../../../assets/img/cinema.png" alt="nombre">
            <div class="card-block">
                <h4 class="card-title">Cinema</h4>
                <p class="card-text">Esta es una plicacion de un cine</p>
                <p class="card-footer">
                    <small class="text-muted">
                    <i class="fab fa-html5 fa-2x"></i>
                    <i class="fab fa-css3-alt fa-2x"></i>
                    <i class="fab fa-php fa-2x"></i>
                    <i class="fab fa-js fa-2x"></i>
                    <i class="fab fa-node fa-2x"></i>
                    <i class="fas fa-database fa-2x"></i>
                    <i class="fab fa-angular fa-2x"></i>
                  </small></p>

                <button type="button" class="btn btn-outline-primary btn-block">
                      Ver mas..
                    </button>
            </div>
        </div>

        <div class="card border-dark animated fadeIn fast">
            <img class="card-img-top img-fluid text-center" src="../../../assets/img/cinema.png" alt="nombre">
            <div class="card-block">
                <h4 class="card-title">Cinema</h4>
                <p class="card-text">Esta es una plicacion de un cine</p>
                <p class="card-footer">
                    <small class="text-muted">
                    <i class="fab fa-html5 fa-2x"></i>
                    <i class="fab fa-css3-alt fa-2x"></i>
                    <i class="fab fa-php fa-2x"></i>
                    <i class="fab fa-js fa-2x"></i>
                    <i class="fab fa-node fa-2x"></i>
                    <i class="fas fa-database fa-2x"></i>
                    <i class="fab fa-angular fa-2x"></i>
                  </small></p>

                <button type="button" class="btn btn-outline-primary btn-block">
                      Ver mas..
                    </button>
            </div>
        </div>

        <div class="card border-dark animated fadeIn fast">
            <img class="card-img-top img-fluid text-center" src="../../../assets/img/cinema.png" alt="nombre">
            <div class="card-block">
                <h4 class="card-title">Cinema</h4>
                <p class="card-text">Esta es una plicacion de un cine</p>
                <p class="card-footer">
                    <small class="text-muted">
                    <i class="fab fa-html5 fa-2x"></i>
                    <i class="fab fa-css3-alt fa-2x"></i>
                    <i class="fab fa-php fa-2x"></i>
                    <i class="fab fa-js fa-2x"></i>
                    <i class="fab fa-node fa-2x"></i>
                    <i class="fas fa-database fa-2x"></i>
                    <i class="fab fa-angular fa-2x"></i>
                  </small></p>

                <button type="button" class="btn btn-outline-primary btn-block">
                      Ver mas..
                    </button>
            </div>
        </div>

        <div class="card border-dark animated fadeIn fast">
            <img class="card-img-top img-fluid text-center" src="../../../assets/img/cinema.png" alt="nombre">
            <div class="card-block">
                <h4 class="card-title">Cinema</h4>
                <p class="card-text">Esta es una plicacion de un cine</p>
                <p class="card-footer">
                    <small class="text-muted">
                    <i class="fab fa-html5 fa-2x"></i>
                    <i class="fab fa-css3-alt fa-2x"></i>
                    <i class="fab fa-php fa-2x"></i>
                    <i class="fab fa-js fa-2x"></i>
                    <i class="fab fa-node fa-2x"></i>
                    <i class="fas fa-database fa-2x"></i>
                    <i class="fab fa-angular fa-2x"></i>
                  </small></p>

                <button type="button" class="btn btn-outline-primary btn-block">
                      Ver mas..
                    </button>
            </div>
        </div>

        <div class="card border-dark animated fadeIn fast">
            <img class="card-img-top img-fluid text-center" src="../../../assets/img/cinema.png" alt="nombre">
            <div class="card-block">
                <h4 class="card-title">Cinema</h4>
                <p class="card-text">Esta es una plicacion de un cine</p>
                <p class="card-footer">
                    <small class="text-muted">
                    <i class="fab fa-html5 fa-2x"></i>
                    <i class="fab fa-css3-alt fa-2x"></i>
                    <i class="fab fa-php fa-2x"></i>
                    <i class="fab fa-js fa-2x"></i>
                    <i class="fab fa-node fa-2x"></i>
                    <i class="fas fa-database fa-2x"></i>
                    <i class="fab fa-angular fa-2x"></i>
                  </small></p>

                <button type="button" class="btn btn-outline-primary btn-block">
                      Ver mas..
                    </button>
            </div>
        </div>

        <div class="card border-dark animated fadeIn fast">
            <img class="card-img-top img-fluid text-center" src="../../../assets/img/cinema.png" alt="nombre">
            <div class="card-block">
                <h4 class="card-title">Cinema</h4>
                <p class="card-text">Esta es una plicacion de un cine</p>
                <p class="card-footer">
                    <small class="text-muted">
                    <i class="fab fa-html5 fa-2x"></i>
                    <i class="fab fa-css3-alt fa-2x"></i>
                    <i class="fab fa-php fa-2x"></i>
                    <i class="fab fa-js fa-2x"></i>
                    <i class="fab fa-node fa-2x"></i>
                    <i class="fas fa-database fa-2x"></i>
                    <i class="fab fa-angular fa-2x"></i>
                  </small></p>

                <button type="button" class="btn btn-outline-primary btn-block">
                      Ver mas..
                    </button>
            </div>
        </div>

        <div class="card border-dark animated fadeIn fast">
            <img class="card-img-top img-fluid text-center" src="../../../assets/img/cinema.png" alt="nombre">
            <div class="card-block">
                <h4 class="card-title">Cinema</h4>
                <p class="card-text">Esta es una plicacion de un cine</p>
                <p class="card-footer">
                    <small class="text-muted">
                    <i class="fab fa-html5 fa-2x"></i>
                    <i class="fab fa-css3-alt fa-2x"></i>
                    <i class="fab fa-php fa-2x"></i>
                    <i class="fab fa-js fa-2x"></i>
                    <i class="fab fa-node fa-2x"></i>
                    <i class="fas fa-database fa-2x"></i>
                    <i class="fab fa-angular fa-2x"></i>
                  </small></p>

                <button type="button" class="btn btn-outline-primary btn-block">
                      Ver mas..
                    </button>
            </div>
        </div>

        <div class="card border-dark animated fadeIn fast">
            <img class="card-img-top img-fluid text-center" src="../../../assets/img/cinema.png" alt="nombre">
            <div class="card-block">
                <h4 class="card-title">Cinema</h4>
                <p class="card-text">Esta es una plicacion de un cine</p>
                <p class="card-footer">
                    <small class="text-muted">
                        <i class="fab fa-html5 fa-2x"></i>
                        <i class="fab fa-css3-alt fa-2x"></i>
                        <i class="fab fa-php fa-2x"></i>
                        <i class="fab fa-js fa-2x"></i>
                        <i class="fab fa-node fa-2x"></i>
                        <i class="fas fa-database fa-2x"></i>
                        <i class="fab fa-angular fa-2x"></i>
                      </small></p>

                <button type="button" class="btn btn-outline-primary btn-block">
                          Ver mas..
                        </button>
            </div>
        </div>

        <div class="card border-dark animated fadeIn fast">
            <img class="card-img-top img-fluid text-center" src="../../../assets/img/cinema.png" alt="nombre">
            <div class="card-block">
                <h4 class="card-title">Cinema</h4>
                <p class="card-text">Esta es una plicacion de un cine</p>
                <p class="card-footer">
                    <small class="text-muted">
                            <i class="fab fa-html5 fa-2x"></i>
                            <i class="fab fa-css3-alt fa-2x"></i>
                            <i class="fab fa-php fa-2x"></i>
                            <i class="fab fa-js fa-2x"></i>
                            <i class="fab fa-node fa-2x"></i>
                            <i class="fas fa-database fa-2x"></i>
                            <i class="fab fa-angular fa-2x"></i>
                          </small></p>

                <button type="button" class="btn btn-outline-primary btn-block">
                              Ver mas..
                            </button>
            </div>
        </div>

        <div class="card border-dark animated fadeIn fast">
            <img class="card-img-top img-fluid text-center" src="../../../assets/img/cinema.png" alt="nombre">
            <div class="card-block">
                <h4 class="card-title">Cinema</h4>
                <p class="card-text">Esta es una plicacion de un cine</p>
                <p class="card-footer">
                    <small class="text-muted">
                                <i class="fab fa-html5 fa-2x"></i>
                                <i class="fab fa-css3-alt fa-2x"></i>
                                <i class="fab fa-php fa-2x"></i>
                                <i class="fab fa-js fa-2x"></i>
                                <i class="fab fa-node fa-2x"></i>
                                <i class="fas fa-database fa-2x"></i>
                                <i class="fab fa-angular fa-2x"></i>
                              </small></p>

                <button type="button" class="btn btn-outline-primary btn-block">
                                  Ver mas..
                                </button>
            </div>
        </div>

        <div class="card border-dark animated fadeIn fast">
            <img class="card-img-top img-fluid text-center" src="../../../assets/img/cinema.png" alt="nombre">
            <div class="card-block">
                <h4 class="card-title">Cinema</h4>
                <p class="card-text">Esta es una plicacion de un cine</p>
                <p class="card-footer">
                    <small class="text-muted">
                                    <i class="fab fa-html5 fa-2x"></i>
                                    <i class="fab fa-css3-alt fa-2x"></i>
                                    <i class="fab fa-php fa-2x"></i>
                                    <i class="fab fa-js fa-2x"></i>
                                    <i class="fab fa-node fa-2x"></i>
                                    <i class="fas fa-database fa-2x"></i>
                                    <i class="fab fa-angular fa-2x"></i>
                                  </small></p>

                <button type="button" class="btn btn-outline-primary btn-block">
                                      Ver mas..
                                    </button>
            </div>
        </div>



    </div>
</div>