<div class="container">
    <div class="card-columns text-center">

        <div class="card border-dark animated fadeIn fast" *ngFor="let proyecto of proyectos">
            <img class="card-img-top img-fluid text-center" src="../../../assets/img/cinema.png" alt="nombre">
            <div class="card-block">
                <h4 class="card-title">{{ proyecto.nombre }}</h4>
                <p class="card-text">{{ proyecto.descripcion }}</p>
                <p class="card-footer">
                    <small class="text-muted" *ngFor="let tecnologia of proyecto.tecnologias">
                    <i class="{{tecnologia.codigo}}"></i>
                  </small></p>

                <a class="btn btn-outline-dark btn-block" [routerLink]="[ '/proyecto', proyecto._id ]">
                    Ver mas...
                </a>
            </div>
        </div>



    </div>
</div>