.img-construccion {
    width: 500px;
}

.img-chica {
    width: 300px;
}

@media only screen and (min-width: 992px) {
    .base {
        background: url(assets/img/bodyBack.png);
    }
    .contenedor {
        background: #fff;
        margin: 0 auto;
        width: 900px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        border-bottom: 7px solid;
        box-shadow: 0 -5px 0 #efefef inset;
        -moz-box-shadow: 0 -5px 0 #efefef inset;
        -webkit-box-shadow: 0 -5px 0 #efefef inset;
    }
    .badge {
        float: right;
    }
}

@media only screen and (max-width: 768px) {
    .base {
        text-align: center;
    }
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/*Ajuste de tarjetas*/

@media only screen and (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
    .listas {
        column-count: 3;
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
    .listas {
        column-count: 3;
    }
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
    .listas {
        column-count: 2;
        text-align: left;
    }
}

@media only screen and (max-width: 576px) {
    .card-columns {
        column-count: 1;
    }
    .listas {
        column-count: 2;
        text-align: left;
    }
}

@media only screen and (max-width: 478px) {
    .listas {
        column-count: 1;
        text-align: left;
    }
}